body {
    font-family: Arial;
    background-color: #e6f2ff;
}

.container {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    text-align: center;
    border-radius: 5px;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 95%;
    padding: 8px;
    margin-top: 10px;
    background-color: #007acc;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 6px;
}
